@font-face {
    font-family: "CursedT";
    src: url(/CursedTimerUlil-Aznm.ttf);
}

body {
    margin: 0;
    font-family: CursedT;
}

h3 {
    display: flex;
    justify-content: center;
    color: #EEEEEE;
    font-family: Verdana;
    font-size: 40px;
    margin-bottom: 15px;
}

p {
    color: #F94F6D;
    font-size: 90px;
    background: #080001;
    border: 1px #080001 solid;
    border-radius: 5px;
    text-align: center;
    max-width: 155px;
    max-height: 120px;
    margin: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 22px;
}

.container {
    position: relative;
    margin:50px auto;
    border: 4px orangered solid;
    border-radius: 10px;
    max-width: 575px;
    max-height: 455px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 50px;
    background: #1B244A;
}

#container2 {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    margin: 0%;
}

#scoreHm {
    max-width: 161px;
    
}

#scoreGu {
    max-width: 161px;
}

.btn {
    background: #1B244A;
    font-family: CursedT;
    font-size: 18px;
    color: #9AABD8;
    border: #9AABD8 solid 2px;
    border-radius: 5px;
    width: 45px;
    height: 45px;
    margin-top: 20px;
    margin-left: 2px;
}

#ngbtn {
    font-weight: bold;
    font-size: 18px;
    padding-top: 8px;
    padding-bottom: 6px;
    padding-right: 15px;
    padding-left: 15px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin-top: 30px;
    border: 3px orangered solid;
    border-radius: 50px;
    
}